<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weather_app_advanced">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="weather_app_advanced"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
    </application>

</manifest>
